CREATE TABLE reviews (id uuid default uuid_generate_v4() primary key, user_id uuid references auth.users(id), product_id uuid references products(id) on delete cascade, rating integer default 5, title text, comment text, created_at timestamp with time zone default timezone('utc'::text, now()));
alter table reviews enable row level security;
create policy \
Public
Read
Reviews\ on reviews for select to anon, authenticated using (true);
create policy \
Authenticated
Insert
Reviews\ on reviews for insert to authenticated with check (auth.uid() = user_id);
create policy \
User
Delete
Own
Reviews\ on reviews for delete to authenticated using (auth.uid() = user_id);
create policy \
Admin
Delete
Reviews\ on reviews for delete to authenticated using (true);
